service login
{
    flags           = NODELAY KEEPALIVE IPv4
    bind	    = 0.0.0.0
    disable	    = no
    type	    = UNLISTED
    port            = __PORT__
    socket_type     = stream
    protocol        = tcp
    wait            = no
    user            = __USER__
    server          = /usr/sbin/in.telnetd
    server_args     = -h -L __SCRIPT_NAME__
    log_on_failure += USERID
}